<div id="rodape">
  <h1>Selecione sua estação  do ano favorita:</h1>
  <div id="est">
    <div>
      <button (click)="showMsgv()"><img class="estação" src="../assets/sol.png" alt=""></button>
      <p *ngIf="showv">Onde o Sol ilumina até os cantos mais escuros do mundo, e o calor aquece as almas mais frias, os tecidos devem ser leves e maleáveis, aproveite para usar cores vívidas e peças despojadas, sem esquecer de que você faz sua própria moda! </p>
    </div>
    <div>

      <button (click)="showMsgo()"> <img class="estação" src="../assets/outono.png" alt=""></button>
      <p *ngIf="showo">Na estação que folhas caem não podemos deixar nosso humor esmorecer, aproveitando tecidos mais trabalhados e cores mais intensas, una elegância e simplicidade, sem esquecer de que você faz sua própria moda!</p>
    </div>
    <div>
      <button (click)="showMsgi()">
        <img class="estação" src="../assets/inverno.png" alt="">
      </button>
      <p *ngIf="showi">Na estação que nossos pés acordam frios e nossos dedos estão sempre gelados, devemos ao máximo nos mantermos aquecidos, tecidos pesados e cores escuras, tornam esta época única. Mas nunca se esqueça de que você faz sua própria moda!</p>
    </div>
    <div>
      <button (click)="showMsgp()"><img class="estação" src="../assets/primavera.png" alt=""></button>
      <p *ngIf="showp">A energia é leve e animada, as flores estão florecendo, e seu coração parece estar mais preenchido, tecidos leves podem ser combinados com estampas destacadas, as cores estão a sua disposição sinta-se livre para escolher e fazer sua própria moda!</p>
    </div>
  </div>

  <div style="margin-top: 150px;">
    <img class="moda"  src="../assets/Imoda.png" alt="">
  <h2>Uma empresa criada para que a sua moda se torne única!</h2>
  <h3>Crie seu próprio estilo, combine diferentes peças, e arrajos!</h3>
  <h4>Seja sua verdadeira versão, não apenas um manequim humano!</h4>
  </div>
</div>
