<div id="rodape">
  <h1>Selecione sua estação  do ano favorita:</h1>
  <div id="est">
    <div>
      <button (click)="showMsgv()"><img class="estação" src="../assets/sol.png" alt=""></button>
      <p *ngIf="showv">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eos quas, magnam non sapiente vitae? Recusandae error, odit ipsam, magnam eos ducimus quod quas autem a totam nisi in praesentium?</p>
    </div>
    <div>

      <button (click)="showMsgo()"> <img class="estação" src="../assets/outono.png" alt=""></button>
      <p *ngIf="showo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt inventore qui quaerat reiciendis itaque nesciunt, aliquid reprehenderit explicabo odit nemo. Molestiae modi in aliquam dolore deleniti, consequuntur iusto a est!</p>
    </div>
    <div>
      <button (click)="showMsgi()">
        <img class="estação" src="../assets/inverno.png" alt="">
      </button>
      <p *ngIf="showi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illum ratione hic atque id, quae vitae ullam eius placeat molestias delectus libero sint non quidem, sit est autem excepturi corrupti?</p>
    </div>
    <div>
      <button (click)="showMsgp()"><img class="estação" src="../assets/primavera.png" alt=""></button>
      <p *ngIf="showp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione corporis distinctio eveniet alias cumque quod beatae ipsum, laudantium quia! Minima eaque ab labore delectus provident, ipsam enim a reiciendis non!</p>
    </div>
  </div>

  <div style="margin-top: 150px;">
    <img class="moda"  src="../assets/Imoda.png" alt="">
  <h2>Uma empresa criada para que a sua moda se torne única!</h2>
  <h3>Crie seu próprio estilo, combine diferentes peças, e arrajos!</h3>
  <h4>Seja sua verdadeira versão, não apenas um manequim humano!</h4>
  </div>
</div>
