<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/sol.png" alt=""> Moda Verão</h2>
  <div id="imagens">
  <img class="moda" src="../assets/mv1.jpg" alt="">
  <img class="moda" src="../assets/mv2.jpg" alt="">
  <img class="moda" src="../assets/mv3.jpg" alt="">
  <img class="moda" src="../assets/mv4.jpg" alt="">
  <img class="moda" src="../assets/mv5.jpg" alt="">
  <img class="moda" src="../assets/mv6.jpg" alt="">
  <img class="moda" src="../assets/mv7.jpg" alt="">
  <img class="moda" src="../assets/mv8.jpg" alt="">
  <img class="moda" src="../assets/mv9.jpg" alt="">
  <img class="moda" src="../assets/mv10.jpg" alt="">
  </div>
</div>
