<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/inverno.png" alt=""> Moda Inverno</h2>
  <div id="imagens">
  <img class="moda" src="../assets/fi1.jpg" alt="">
  <img class="moda" src="../assets/fi2.jpg" alt="">
  <img class="moda" src="../assets/fi3.jpg" alt="">
  <img class="moda" src="../assets/fi4.jpg" alt="">
  <img class="moda" src="../assets/fi5.jpg" alt="">
  <img class="moda" src="../assets/fi6.jpg" alt="">
  <img class="moda" src="../assets/fi7.jpg" alt="">
  <img class="moda" src="../assets/fi8.jpg" alt="">
  <img class="moda" src="../assets/fi9.jpg" alt="">
  <img class="moda" src="../assets/fi10.jpg" alt="">
  </div>
</div>
