<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/sol.png" alt=""> Moda Verão</h2>
  <div id="imagens">
  <img class="moda" src="../assets/fv1.jpg" alt="">
  <img class="moda" src="../assets/fv2.jpg" alt="">
  <img class="moda" src="../assets/fv3.jpg" alt="">
  <img class="moda" src="../assets/fv4.jpg" alt="">
  <img class="moda" src="../assets/fv5.jpg" alt="">
  <img class="moda" src="../assets/fv6.jpg" alt="">
  <img class="moda" src="../assets/fv7.jpg" alt="">
  <img class="moda" src="../assets/fv8.jpg" alt="">
  <img class="moda" src="../assets/fv9.jpg" alt="">
  <img class="moda" src="../assets/fv10.jpg" alt="">
  </div>
</div>
