<div id="container">
  <div class="seta">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg>
    <button>Olá! Bem-vindo(a)! <br>click sob cada imagem e saiba mais sobre a IModa!
    </button>
  </div>
  <h1 style="font-family: 'Courier New', Courier, monospace; padding: 20px;text-decoration: underline;">Moda Infantil</h1>
  <h2 style="padding-left: 20px;">Da criança ao adolescente</h2>
  <app-primavera></app-primavera>
  <app-verao></app-verao>
  <app-outono></app-outono>
  <app-inverno></app-inverno>

</div>
