<div id="primavera">
  <h2 class="text"><img class="estação" src="../assets/outono.png" alt=""> Moda Outono</h2>
 <div id="imagens">
  <img class="moda" src="../assets/o1.jpg" alt="">
  <img class="moda" src="../assets/o2.jpg" alt="">
  <img class="moda" src="../assets/o3.jpg" alt="">
  <img class="moda" src="../assets/o4.jpg" alt="">
  <img class="moda" src="../assets/o5.jpg" alt="">
  <img class="moda" src="../assets/o6.jpg" alt="">
  <img class="moda" src="../assets/o7.jpg" alt="">
  <img class="moda" src="../assets/o8.jpg" alt="">
  <img class="moda" src="../assets/o9.jpg" alt="">
  <img class="moda" src="../assets/o10.jpg" alt="">
 </div>
</div>
