<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/inverno.png" alt=""> Moda Inverno</h2>
  <div id="imagens">
  <img class="moda" src="../assets/mi1.jpg" alt="">
  <img class="moda" src="../assets/mi2.jpg" alt="">
  <img class="moda" src="../assets/mi3.jpg" alt="">
  <img class="moda" src="../assets/mi4.jpg" alt="">
  <img class="moda" src="../assets/mi5.jpg" alt="">
  <img class="moda" src="../assets/mi6.jpg" alt="">
  <img class="moda" src="../assets/mi7.jpg" alt="">
  <img class="moda" src="../assets/mi8.jpg" alt="">
  <img class="moda" src="../assets/mi9.jpg" alt="">
  <img class="moda" src="../assets/mi10.jpg" alt="">
  </div>
</div>
