<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/outono.png" alt=""> Moda outono</h2>
  <div id="imagens">
  <img class="moda" src="../assets/fo1.jpg" alt="">
  <img class="moda" src="../assets/fo2.jpg" alt="">
  <img class="moda" src="../assets/fo3.jpg" alt="">
  <img class="moda" src="../assets/fo4.jpg" alt="">
  <img class="moda" src="../assets/fo5.jpg" alt="">
  <img class="moda" src="../assets/fo6.jpg" alt="">
  <img class="moda" src="../assets/fo7.jpg" alt="">
  <img class="moda" src="../assets/fo8.jpg" alt="">
  <img class="moda" src="../assets/fo9.jpg" alt="">
  <img class="moda" src="../assets/fo10.jpg" alt="">
  </div>
</div>
