img{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
a{
  color: rgb(223, 210, 26);
  text-decoration: none;
  font-size: 35px;
}
svg{
  cursor: pointer;
  padding: 10px;
}
a:hover{
  border-bottom: 2px solid rgb(205, 199, 20);
}
div>div{
  margin-top: 10px;
  margin-left: 10px;
}
h3{
  color: white;
  padding-left: 20px;
  font-size: 40px;

}
.modar{
  display: none;
}
#question{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  margin-top: 40px;
  color: yellow;
  cursor: pointer;
}
#question.active{
  color: blue;
}
#icons{
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
  margin-top:40px;
}
@media (max-width: 1208px) {
  a{
    font-size: 25px;
  }
  h3{
    font-size: 25px;
  }
}
@media (max-width: 968px) {
  a{
    font-size: 20px;
  }
  h3{
    font-size: 20px;
  }
}
@media (max-width: 868px) {
  #question{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    margin-top: 490px;
  }
  #icons{
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    margin-top:560px;
  }
  .modar{
    display: block;
  }
  .moda{
    display: none;
  }
  a{
    font-size: 25px;
    cursor: pointer;
  }
  h3{
    font-size: 25px;
  }
}
