<div id="primavera">
 <h2 class="text"><img class="estação" src="../assets/sol.png" alt=""> Moda Verão</h2>
  <div id="imagens">
    <img class="moda" src="../assets/v1.jpg" alt="">
  <img class="moda" src="../assets/v2.jpg" alt="">
  <img class="moda" src="../assets/v3.jpg" alt="">
  <img class="moda" src="../assets/v4.jpg" alt="">
  <img class="moda" src="../assets/v5.jpg" alt="">
  <img class="moda" src="../assets/v6.jpg" alt="">
  <img class="moda" src="../assets/v7.jpg" alt="">
  <img class="moda" src="../assets/v8.jpg" alt="">
  <img class="moda" src="../assets/v9.jpg" alt="">
  <img class="moda" src="../assets/v10.jpg" alt="">
  </div>
</div>
