<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/outono.png" alt=""> Moda Outono</h2>
  <div id="imagens">
  <img class="moda" src="../assets/mo1.jpg" alt="">
  <img class="moda" src="../assets/mo2.jpg" alt="">
  <img class="moda" src="../assets/mo3.jpg" alt="">
  <img class="moda" src="../assets/mo4.jpg" alt="">
  <img class="moda" src="../assets/mo5.jpg" alt="">
  <img class="moda" src="../assets/mo6.jpg" alt="">
  <img class="moda" src="../assets/mo7.jpg" alt="">
  <img class="moda" src="../assets/mo8.jpg" alt="">
  <img class="moda" src="../assets/mo9.jpg" alt="">
  <img class="moda" src="../assets/mo10.jpg" alt="">
  </div>
</div>
