<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/inverno.png" alt=""> Moda Inverno</h2>
  <div id="imagens">
  <img class="moda" src="../assets/i1.jpg" alt="">
  <img class="moda" src="../assets/i2.jpg" alt="">
  <img class="moda" src="../assets/i3.jpg" alt="">
  <img class="moda" src="../assets/i4.jpg" alt="">
  <img class="moda" src="../assets/i5.jpg" alt="">
  <img class="moda" src="../assets/i6.jpg" alt="">
  <img class="moda" src="../assets/i7.jpg" alt="">
  <img class="moda" src="../assets/i8.jpg" alt="">
  <img class="moda" src="../assets/i9.jpg" alt="">
  <img class="moda" src="../assets/i10.jpg" alt="">
  </div>
</div>
