<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/primavera.png" alt=""> Moda Primavera</h2>
  <div id="imagens">
  <img class="moda" src="../assets/mp1.jpg" alt="">
  <img class="moda" src="../assets/mp2.jpg" alt="">
  <img class="moda" src="../assets/mp3.jpg" alt="">
  <img class="moda" src="../assets/mp4.jpg" alt="">
  <img class="moda" src="../assets/mp5.jpg" alt="">
  <img class="moda" src="../assets/mp6.jpg" alt="">
  <img class="moda" src="../assets/mp7.jpg" alt="">
  <img class="moda" src="../assets/mp8.jpg" alt="">
  <img class="moda" src="../assets/mp9.jpg" alt="">
  <img class="moda" src="../assets/mp10.jpg" alt="">
  </div>
</div>
