<div id="primavera">
  <h2 class="text"> <img class="estação" src="../assets/primavera.png" alt=""> Moda Primavera </h2>
  <div id="imagens">
  <img class="moda" src="../assets/fp1.jpg" alt="">
  <img class="moda" src="../assets/fp2.jpg" alt="">
  <img class="moda" src="../assets/fp3.jpg" alt="">
  <img class="moda" src="../assets/fp4.jpg" alt="">
  <img class="moda" src="../assets/fp5.jpg" alt="">
  <img class="moda" src="../assets/fp6.jpg" alt="">
  <img class="moda" src="../assets/fp7.jpg" alt="">
  <img class="moda" src="../assets/fp8.jpg" alt="">
  <img class="moda" src="../assets/fp9.jpg" alt="">
  <img class="moda" src="../assets/fp10.jpg" alt="">
  </div>
</div>
